{{ define "main"}}
    <style>
        
    </style>
    <main id="main">
            <div>
                <pre style="color:#32CD32">
    ░░░░░░░░░░░░  ░░██╗██╗░█████╗░░░██╗██╗  ░░░░░░░░░░░░
    ░░░░░░░░░░░░  ░██╔╝██║██╔══██╗░██╔╝██║  ░░░░░░░░░░░░
    █████╗█████╗  ██╔╝░██║██║░░██║██╔╝░██║  █████╗█████╗
    ╚════╝╚════╝  ███████║██║░░██║███████║  ╚════╝╚════╝
    ░░░░░░░░░░░░  ╚════██║╚█████╔╝╚════██║  ░░░░░░░░░░░░
    ░░░░░░░░░░░░  ░░░░░╚═╝░╚════╝░░░░░░╚═╝  ░░░░░░░░░░░░</pre>
                <pre style="color:#32CD32">
    ██████╗░░█████╗░░██████╗░███████╗
    ██╔══██╗██╔══██╗██╔════╝░██╔════╝
    ██████╔╝███████║██║░░██╗░█████╗░░
    ██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
    ██║░░░░░██║░░██║╚██████╔╝███████╗
    ╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝</pre>
                <pre style="color:#32CD32">
    ███╗░░██╗░█████╗░████████╗
    ████╗░██║██╔══██╗╚══██╔══╝
    ██╔██╗██║██║░░██║░░░██║░░░
    ██║╚████║██║░░██║░░░██║░░░
    ██║░╚███║╚█████╔╝░░░██║░░░
    ╚═╝░░╚══╝░╚════╝░░░░╚═╝░░░</pre>
                <pre style="color:#32CD32">
    ███████╗░█████╗░██╗░░░██╗███╗░░██╗██████╗░
    ██╔════╝██╔══██╗██║░░░██║████╗░██║██╔══██╗
    █████╗░░██║░░██║██║░░░██║██╔██╗██║██║░░██║
    ██╔══╝░░██║░░██║██║░░░██║██║╚████║██║░░██║
    ██║░░░░░╚█████╔╝╚██████╔╝██║░╚███║██████╔╝
    ╚═╝░░░░░░╚════╝░░╚═════╝░╚═╝░░╚══╝╚═════╝░</pre>
            </div>
    </main>
{{ end }}